/*

    CSS Styling sheet by Guillermo Moran
    Used for alt pages
    January 2016

*/

body {
    padding-top: 50px;
}

#pageTitle {
    font-size: 2.5em;
    font-weight: 400;
}

#footer {
    padding-top: 50px;
}

/*
a:link {
    color: white;
}
a:visited {
    color: white;
}
a:hover {
    background:none;
    color:#EF7A53;
}
*/
