

/* Generic Selectors */

body {

margin:  0 5%;

font-family: verdana, Georgia, arial, helvetica, sans-serif;

font-size: 1em;  /* default size */

color: #333333;  /* text color */

background: #002A4D; /* background color */

}

.heading {
      background: #4682A3;
      color: white;
      padding: 1%;
      margin: 1% 13% 1% 13%;
      padding: 2%;
      text-align:center;
}
.content {
    background: #215F81;
    color:white;
    margin: 1% 13% 1% 13%;
    padding: 2%;
    overflow:auto;
}

.border {
          margin: 5% 2%;
          border: 2px solid #55CDB7;
          padding: 5% 2%;
          overflow:auto;
          text-align:center;
  }

.floatleft {
        width: 40%;
	padding:2%;
	float:left;
      }
.clear {
       clear:both;
       }

.footer{
        font-size:.8em;
	margin:5% 1% 1% 1%;
	border-top: 1px solid white;
        padding:1%;

}
/* now change anchor tag colors */
a:link {
         color: yellow;
    }
a:visited {
            color:yellow;
          }
a:hover { background:none;
          color:pink;
        }
